name: Release build

on:
  release:
    types: [published]

permissions:
  contents: write
  packages: write
  actions: write

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            arch: x86_64
            os_name: linux
          - os: ubuntu-24.04-arm
            arch: arm64
            os_name: linux
          - os: windows-2025
            arch: x86_64
            os_name: windows
#          - os: windows-11-arm
#            arch: arm64
#            os_name: windows
          - os: macos-15-intel
            arch: x86_64
            os_name: macos
          - os: macos-15
            arch: arm64
            os_name: macos
    
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install build dependencies
        run: |
          if [ "${{ matrix.os_name }}" = "windows" ]; then
            python scripts/install_build_deps.py
          else
            python3 scripts/install_build_deps.py
          fi
        shell: bash

      - name: Build the project
        run: |
          if [ "${{ matrix.os_name }}" = "windows" ]; then
            python -m ci.ci --no-test --no-log -a -A lct-${{ matrix.os_name }}-${{ matrix.arch }} --os ${{ matrix.os_name }} --arch ${{ matrix.arch }}
          else
            python3 -m ci.ci --no-test --no-log -a -A lct-${{ matrix.os_name }}-${{ matrix.arch }} --os ${{ matrix.os_name }} --arch ${{ matrix.arch }}
          fi
        shell: bash

      - name: Upload archive as release asset
        uses: softprops/action-gh-release@v2
        with:
          files: |
            archives/${{ matrix.os_name == 'windows' && format('lct-{0}-{1}.zip', matrix.os_name, matrix.arch) || format('lct-{0}-{1}.tar.gz', matrix.os_name, matrix.arch) }}
          token: ${{ secrets.GITHUB_TOKEN }}